* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.post-container {
  width: 400px;
  height: 500px;
  border: 1px solid black;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-header {
  display: flex;
  justify-content: space-between;
}

.post-header .left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.post-header .left>div {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}

.post-icons {
  font-size: 24px;
}