* {
  padding: 0px;
  margin: 0px;
}

.caixa {
  border: 1px solid black;
  width: 400px;
  height: 500px;
  margin: 20px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cabecalho {
  display: flex;
  align-items: center;
  gap: 10px;
}

.img-usuario {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
}

.bi {
  font-size: 20px;
}